Type casting = converting the data type of a value to another data type

In [ ]:
x = 1 # int
y = 2.5 # float
z = '3' # str

Note: you cannot do math with strings

In [ ]:
# converting float to int, not a permnanent change
print(int(y)) 
print(y)

2
2.5

In [ ]:
# converting float to int, permanent change
y = int(y) 
print(y)

2

In [ ]:
# when would you need to convert an int or float to a string?
# print('X is'+ x)
# error: can only concatenate str (not "int") to str
print('X is ' + str(x))

X is 1